---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import appStoreQr from '~/assets/images/inspirit-appstore.png';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://apps.apple.com/US/app/id6480348915';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://apps.apple.com/US/app/id6480348915';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import heroImage from '~/assets/images/default.png';

const metadata = {
  title: 'InSpirit - Pray, Learn & Chat',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Chat', href: 'https://inspiritdaily.com' },
        { text: 'Product', href: '#product' },
        { text: 'Listen', href: '#samples' },
        { text: 'Features', href: '#features' },
        { text: 'Believers', href: '#believers' },
        { text: 'FAQs', href: '#faqs' },
      ]}
      actions={[
        {
          text: 'Download',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Pray, Learn & Chat"
    image={{
      src: heroImage,
      alt: 'InSpirit - Pray, Learn & Chat',
    }}
  >
    <Fragment slot="title">
      <span class="text-primary highlight">InSpirit</span> <br /> <span class="text-4xl tracking-normal">Your Spiritual Companion</span>
    </Fragment>

    <Fragment slot="subtitle">
      Discover the power of faith, reflection, and connection with <strong>InSpirit</strong>, the app designed to nurture your spirit and deepen your relationship with God.
      <br/><br/>
      <Button variant="primary" class="w-3/5" href="https://inspiritdaily.com">
        Talk With InSpirit Now
      </Button>
    </Fragment>

    <!-- <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="Download InSpirit" width={200} /><br/>
        <Image src={appStoreQr} alt="Scan QR Code to install InSpirit" width={200} class="hidden lg:inline-block rounded-xl" />
      </Button>
    </div> -->
  </Hero2>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="samples"
    title="Biblical Guidance Audio Series"
    information={`Explore our collection of audio series to find emotional support from the Holy guidance.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Features3 Widget ************** -->

  <Features3
    id="product"
    title="Why InSpirit?"
    subtitle="Life is full of challenges, but you don’t have to face them alone. InSpirit offers a supportive space to find peace, wisdom, and God’s presence in your daily life. Whether you’re seeking answers, solace, or inspiration, we’re here to guide you every step of the way."
    tagline=""
    image={{
      src: 'https://images.unsplash.com/photo-1437603568260-1950d3ca6eab?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'InSpirit',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="features"
    isReversed
    items={[
      {
        title: 'Real-Time Spiritual Chat',
        description:
          'Your personal guide for faith-based conversations. Ask questions, share your worries, or receive personalized prayers whenever you need them.',
        icon: 'tabler:message-chatbot',
      },
      {
        title: 'Daily Scripture & Devotions',
        description:
          'Start every day with uplifting Bible verses and reflections tailored to inspire and empower you.',
        icon: 'tabler:blockquote',
      },
      {
        title: 'Guided Prayers & Meditations',
        description:
          'Find peace and clarity through calming meditations and heartfelt prayers, crafted to soothe your soul.',
        icon: 'tabler:user-heart',
      },
      {
        title: 'Bible Study Plans',
        description: 'Explore the Word of God with structured plans and insights that deepen your understanding of scripture.',
        icon: 'tabler:bible',
      },
      {
        title: 'Audio Bible',
        description: 'Immerse yourself in God’s Word wherever you are with our engaging audio Bible experience.',
        icon: 'tabler:headphones',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1594262243895-5ab72f000b07?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'InSpirit',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Key Features to Strengthen Your Faith</h3>
    </Fragment>
  </Content>

  <Features3
    id="product"
    title="How InSpirit Can Transform Your Faith Journey"
    subtitle=""
    tagline=""
    columns={3}
    items={[
      {
        title: 'Find Peace in Chaos',
        description: `Navigate life’s uncertainties with God’s strength and reassurance.`,
        icon: 'tabler:empathize',
      },
      {
        title: 'Grow Closer to God',
        description:
          'Strengthen your relationship with Christ through daily guidance and reflection.',
        icon: 'tabler:cross',
      },
      {
        title: 'Feel Supported Anytime',
        description: 'Connect with our chat function for instant spiritual guidance and encouragement.',
        icon: 'tabler:device-mobile-message',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    id="believers"
    title="Trusted by Christians around the World"
    stats={[
      { amount: '200K', icon: 'tabler:download' },
      // { amount: '18.5K', icon: 'tabler:users' },
      { amount: '5.0', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="What Our Users Say"
    testimonials={[
      {
        testimonial: `InSpirit has been a lifeline for me during tough times. The chat feature feels like talking to a friend who understands and supports my faith journey.`,
        name: 'Emily',
        job: 'InSpirit User',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Emily',
        },
      },
      {
        testimonial: `The daily devotionals and personalized prayers are exactly what I need to start my day with purpose and peace.`,
        name: 'John',
        job: 'InSpirit User',
        image: {
          src: 'https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?q=80&w=2676&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
          alt: 'John',
        },
      },
      {
        testimonial:
          'As someone who is always on the go, this app is a blessing. The daily verses are uplifting, and the topical devotionals offer exactly what I need in different seasons of life.',
        name: 'Jessica',
        job: 'InSpirit User',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Jessica',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs"
    title="Still have some doubts?"
    items={[
      {
        title: 'How do I get started with the app?',
        description:
          'Getting started is easy! Just download the app from the App Store and you’ll be ready to emerge into your spiritual journey in no time.',
      },
      {
        title: 'Are there any subscription options?',
        description:
          'Yes, our app offers both free and premium subscription options. The free version includes many great features, while the premium subscription provides access to additional content, exclusive devotionals, and enhanced study plans.',
      },
      {
        title: 'How can I receive the personalized Verse of the Day?',
        description: `After installing the app, you’ll be guided through a setup process where you can select your preferred themes and topics. Based on your choices, the app will deliver a personalized Verse of the Day to inspire and uplift you every morning.`,
      },
      {
        title: 'What types of devotionals are available?',
        description:
          'Our app offers a wide range of devotionals covering various topics such as faith, hope, love, wisdom, and more. You can easily browse and choose devotionals that resonate with your spiritual journey.',
      },
      {
        title: 'How can I track my progress in study plans?',
        description:
          'The app features a built-in progress tracker for each study plan. You can see your daily progress, mark completed readings, and set reminders to keep you on track with your spiritual studies.',
      },
      {
        title: 'Can I share content from the app with others?',
        description:
          'Absolutely! You can share verses, devotionals, and insights directly from the app via social media, email, or messaging apps. Spread the inspiration and connect with others on their spiritual journey.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Start your spiritual journey now!"
    subtitle="Join thousands of believers who have found solace, inspiration, and connection with InSpirit.<br/><br/><strong>📥 Download Now</strong><br/>Experience God’s love and guidance like never before."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} /><br/>
        <Image src={appStoreQr} alt="Scan QR Code to install InSpirit" width={200} class="hidden lg:inline-block rounded-xl" />
      </Button>
    </div>
  </CallToAction>
</Layout>
